.grid-container {
    display: grid;
    grid-template-columns: 738px 1fr;
    grid-gap: 20px;
    width: 738px;
    height: 351px;
    background-color: #2B2B2B;

}

.wrapper {
    position: absolute;
    width: 1440px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #2B2B2B;
    backdrop-filter: blur(70px);
    margin-top: -16px;

}

.title {
    color: #FFF;
    font-family: 'SB Sans Display', sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    width: 738px;
    height: 119px;
    margin-left: 80px;
    margin-top: 174px;

}

.generalDiscription {
    width: 738px;
    height: 120px;
    margin-left: 80px;
    margin-top: 32px;
}

.description {
    color: #E7E7E7;
    font-family: "SB Sans Text", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 714px;
    height: 50px;
    margin-left: 24px
}


.image {
    float: left;
    margin-right: 16px;
    margin-top: 8px;

}

