.container {
    width: 258px;
    height: 48px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: linear-gradient(90deg, #6EEA59 0%, #6EE27D 25%, #71DAA3 50%, #79C5C1 75%, #9195E1 100%);
    border-radius: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
.buttonWrapper {
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
}
.buttonText {
    color: #000;
    text-align: center;
    font-family: 'SB Sans Text', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.3px;
}