.header {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 12px;
}

.content {
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
}

.buttonBlock {
    display: flex;
    gap: 12px;
}

.titleBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.middle {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 60px;

}


.midleBlock {
    position: relative;
    width: 100%;
    max-width: 630px;
    height: auto;
    margin: 376px 0 0 80px;
    gap: 32px;
}

.imageContainer {
    max-width: 1440px;
    margin-left: -700px;
}

.opportunities {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
}

.container {
    display: flex;
    height: 1488px;
}

.column {
    width: calc(50%);
}

.tabs {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 205px;
}


.penultimate {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
}


.footer {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
}