.custom_tab {
    background-color: #61dafb;
}

.tabs {
    :global(.ant-tabs-tab) {
        display: contents;
    }

    :global(.ant-tabs-nav):before {
        display: none;
        padding: 0 80px;
    }
}

:global(.ant-tabs-content-holder) {
    width: 1440px;
    height: 700px;
}

:global(.ant-tabs-nav) {
    padding: 0 80px;
}

:global(.ant-tabs-tab-btn) {
    margin-right: 16px;
}

.tab1.active, .tab2.active {
    background: #4CEF8F;
}

.tab1, .tab2 {
    width: auto;
    height: auto;

    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;

    background: #2B2B2B;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 16px;
    font-family: 'SB Sans Text', sans-serif;
    font-weight: 600;
    line-height: 52px;
    word-wrap: break-word;
}

