.img {
    width: 625px;
    height: 625px;
    transform: rotate(140.92deg);
    transform-origin: 0 0;
    opacity: 0.40;
    background: linear-gradient(83deg, #6EEA5A 0%, #6EE27C 33%, #71DBA2 67%, #9194E1 100%);
    box-shadow: 164px 164px 164px;
    border-radius: 9999px;
    filter: blur(164px);
    margin-top: -500px;
    position: relative;
    right: -302px;
}

.img2 {
    border-radius: 665px;
    opacity: 0.4;
    background: linear-gradient(83deg, #6EEA5A -180.69%, #6EE27C -94.72%, #71DBA2 -8.76%, #9194E1 77.2%);
    filter: blur(82px);
    width: 665px;
    height: 665px;
    flex-shrink: 0;
    position: relative;
    right: 335px;
    margin-top: -900px;
}
